html, body {
  height: 100%;
  margin: 0;
  background: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
}

app-container {
  display: block;
  min-height: calc(100vh - 120px);

}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


html {
  background-color: #13293D;
}

a {
  font-weight: bold;
  color: inherit;
}

fieldset {
  margin: 30px 50px 50px 50px;
}

.p-main {
  padding: 20px;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}
