footer {
  width: 100%;
  text-align: center;
  background-color: #e8f1f2;  /* sua cor original */
  color: rgb(0, 0, 0);         /* sua cor original */
  padding: 5px 0;
}

footer > p {
  margin: 0;
  padding: 0;
}
