::ng-deep .bg-image {
  background-image: url('/assets/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}
main {
  height: 100vh;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 0;
  background-color: #13293D ; /* azul-marinho */
}

.home-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  padding: 40px 60px;
  border-radius: 15px;
  text-align: center;
  max-width: 450px;
  width: 90%;
}

.home-card h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.home-card h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b8c7d9;
  margin-bottom: 10px;
}

.home-card h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 5px;
}
